<script src="js/res-operations.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="Untitled-1.css">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJdGsh8O_0mg3AccDel4iL6XnqRrzFkJk&callback=initMap"></script>

<style type="text/css">
    /**************** res-details **********************/
    .p_solid_thin {
        border-style: solid;
        padding: 10px;
        border-color: #cdcdcd;
        border-width: thin;
        margin-left: 5%;
        margin-right: 5%;
    }

    .button {
        width: 150px;
        height: 35px;
        margin-left: 80%;
        background-color: #d6d6d6;
        border: none;
        color: black;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 80%;
        cursor: pointer;
    }
    .button {
        border-radius: 12px;
    }
    .button1 {
        width: 150px;
        height: 35px;
        margin-left: 80%;
        background-color: #d6d6d6;
        border: none;
        color: black;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 80%;
        cursor: pointer;
    }
    .button1 {
        border-radius: 12px;
    }
    .Input_Box {
        width: 80%;
        height: 15%;
        border: 1px solid #ccc;
        transition: border linear 0.2s, box-shadow linear 0.5s;
        border-radius: 5px;
        background-color: #ececec;
        overflow: hidden;
        position: absolute;
    }
    .Input_Box > textarea {
        width: 100%;
        height: 95%;
        padding: 2px;
        outline: none;
        border: 0px solid #fff;
        resize: none;
        font-size: 13px;
        color: #c7c7c7;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    input {
        display: none;
    }

    label {
        cursor: pointer;
        font-size: 20px;
        color: darkgray;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 5px;
        text-align: center;
        float: left;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    label:hover {
        font-size: 20px;
        color: darkgray;
        text-shadow: 0 0 1px #b9c9d8;
    }
    label:before {
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        margin-top: 0;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f005";
    }

    input:checked + label ~ label:before {
        content: "\f006";
    }

    #wrapper {
        display: inline-block;
    }
    #wrapper:hover label:before {
        content: "\f005";
    }
    #wrapper:hover label:hover ~ label:before {
        content: "\f006";
    }
    .class1 {
        display: inline;
        font-size: 250%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .class2 {
        display: inline;
        font-size: 160%;
        margin-left: 10%;
    }
    .class3 {
        display: inline;
        font-size: 70%;
        color: darkgray;
        line-height: 50px;
        margin-left: 10%;
    }

    .line {
        width: 95%;
        height: 1px;
        background: black;
    }
    .comment {
        margin-top: 5%;
    }
    .class4 {
        display: inline;
        font-size: 90%;
        color: black;
        line-height: 50px;
        margin-left: 40%;
    }
    .class4:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
        position: center;
    }
    /**************** res-details **********************/

</style>



<div class="nav_container ">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="topnav">
				<a class="navbar-brand" href="/">Restaurants</a>
			</div>
			<form action="." method="post" class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" name="search" id="txtSearch" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
	</nav>
</div>


<div class="rest-info">
	<div class="p_solid_thin" style="height: 500px; margin-top: 10px">
	    <span style="text-align: center; margin-right: 20%; line-height: 20px">
		    <p style="font-size: 200%; color: black"  class="restaurantName" business_id={{restaurant.business_id}}>{{restaurant.name}}</p>
		    <p style="font-size: 120%; color: #525252">Opening Hours:{{restaurant.time}}</p>
		    <p style="font-size: 120%; color: #525252">Address: {{restaurant.address}}</p>
		</span>
	    <button class="button" onclick="window.open('https://www.google.com/maps/place/{{restaurant.address}}')" style="float: left; background-color: #4CAF50;  color: white;" >Navigation</button>
        <div id="map" onload="initMap()" style="width:80%;height:300px;position: center;" latitude={{restaurant.latitude}} longitude={{restaurant.longitude}}>
	    </div>
</div>


</div>

<div class="rest-rating">
	<div class="p_solid_thin" style="height:280px; margin-top: 10px">
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
			<div id="wrapper" >
                        <input type="radio" class="stars" id="1" name="star" />
                        <label for="star1" class="lables"></label>
                        <input type="radio" class="stars" id="2" name="star" />
                        <label for="star2" class="lables"></label>
                        <input type="radio" class="stars" id="3" name="star" />
                        <label for="star3" class="lables"></label>
                        <input type="radio" class="stars" id="4" name="star" />
                        <label for="star4" class="lables"></label>
                        <input type="radio" class="stars" id="5" name="star" checked/>
                        <label for="star5" class="lables"></label>
            </div>
		<div class="Input_Box" >
		    <textarea class="Input_text"  placeholder="Login to add your review here, less than 300 words. "  {{#if disableReview}} disabled {{/if}}   ></textarea>
		</div>
		    <button class="button1" style="float: right; margin-top: 11%" {{#if disableReview}} disabled {{/if}} >Submit</button>
		</div>
	</div>
<div class="comments" id="comments" >
	<div class="p_solid_thin" style="height: 500px; margin-top: 10px">
		<div class="class1">{{starsDisplay}} </div>
		    <div class="class2">{{restaurant.review_count}} comments</div>
		    <div class="line"></div>
		    {{#each reviews}}
		    <div class="comment">
			    <div class="class2">{{this.text}}</div>
                <div class="class2">{{this.stars}} </div>
			    <br>
			    <div class="class3">By {{this.name}}</div>
			    <div class="class3">{{this.date}}</div>
			    <div class="line"></div>
		    </div>
		    {{/each}}
		    <div class="class4">More comments</div>
	</div>
</div>



