<script src="/js/location.js"></script>
<script src="/js/main-operations.js"></script>

<body>

    <nav class="navbar navbar-default" >
        <div class="container-fluid" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between" >
            <!--    location        -->
            <div class="location navbar-form navbar-left" style="display: flex; flex-direction: row; align-items: center">
                <div class="locationIcon">
                    <img src="./icon/location.png" alt="location" width="25px">
                </div>
                <div class="locationSelect form-group navbar-form" style="margin-right: 10px">
                    <select class="selectPicker show-tick form-control" id="citySelect" onchange="selectOnchange()">
<!--                            <option value="">Select</option>-->
                        <option class="city" value="Las Vegas">Las Vegas</option>
                        <option class="city" value="Phoenix">Phoenix</option>
                        <option class="city" value="Toronto">Toronto</option>
                        <option class="city" value="Charlotte">Charlotte</option>
                        <option class="city" value="Scottsdale">Scottsdale</option>
                    </select>
                </div>
            </div>

            <div class="search">
                <form action="." method="post" class="navbar-form navbar-middle">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" id="txtSearch" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <div class = "sort">
                <form class="navbar-form navbar-right" method="post" action=".">
                    <input type="text" list="sort_options" class="form-control" name="sort_by" placeholder="Sort by..."/>
                    <datalist id="sort_options">
                        <option value ="Name, Asc">
                        <option value ="Name, Desc">
                        <option value ="Rating, Asc">
                        <option value ="Rating, Desc">
                    </datalist>
                    <button type="submit" class="btn btn-default">Sort</button>
                </form>
            </div>
        </div>
    </nav>


<div id="restaurants_container">
{{#if restaurants}}
    {{#each restaurants}}
        <div class="restaurant_card" onclick="window.location='/details?restaurant={{this.business_id}}'" >
            <div class="restaurant_detail">
                <h2>{{this.name}}</h2>
                <h4 class="sub_text">Address: {{this.address}} </h4>
                <p class="sub_text">Open time: {{this.time}}</p>
            </div>
            <div>
                <h3>{{this.stars}}</h3>
                <h6>{{this.review_count}} reviews</h6>

            </div>
        </div>
    {{/each}}

     <div class="viewMore">More restaurants</div>

{{else}}
    <p>No restaurants match your search parameters.</p>
{{/if}}

</div>
</body>
